In [1]:
import plotly.plotly as py
import pandas as pd

In [3]:
from analysisCountry import AnalysisCountry

In [4]:
country = AnalysisCountry("Data Scientist", "US")

In [5]:
df = country.getJobsByState(barplot=False)

Group jobs by state and list top 20 states
Printing top companies
jobcount state
    4964    CA
    2431    NY
    2261    TX
    1704    VA
    1586    NJ
    1456    IL
    1239    FL
    1166    GA
     992    PA
     981    MD
     961    MA
     951    NC
     824    WA
     722    CO
     713    MI
     653    OH
     619    DC
     535    AZ
     514    MN
     488    MO

In [6]:
print (df)

    jobcount state
0       4964    CA
1       2431    NY
2       2261    TX
3       1704    VA
4       1586    NJ
5       1456    IL
6       1239    FL
7       1166    GA
8        992    PA
9        981    MD
10       961    MA
11       951    NC
12       824    WA
13       722    CO
14       713    MI
15       653    OH
16       619    DC
17       535    AZ
18       514    MN
19       488    MO

In [1]:
from analysisCountry import AnalysisCountry

In [2]:
country = AnalysisCountry("Data Scientist", "US")

In [3]:
df = country.getJobCountAllStates()

Getting job count for all 50 states
Printing top companies
jobcount state
    4964    CA
    2431    NY
    2261    TX
    1704    VA
    1586    NJ
    1456    IL
    1239    FL
    1166    GA
     992    PA
     981    MD
     961    MA
     951    NC
     824    WA
     722    CO
     713    MI
     653    OH
     619    DC
     535    AZ
     514    MN
     488    MO
     432    CT
     335    TN
     329    WI
     327    OR
     239    SC
     176    IN
     161    LA
     147    IA
     138    NE
     133    UT
     129    OK
     129    AL
     112    NV
     103    DE
      95    KY
      88    KS
      71    NM
      62    RI
      45    NH
      40    ME
      32    ID
      30    AR
      28    WV
      21    MS
      20    HI
      11    VT
       7    MT
       7    AK
       7    SD
       7    ND
       3    WY

In [4]:
import plotly.plotly as py
import pandas as pd

In [5]:
for col in df.columns:
    df[col] = df[col].astype(str)

In [6]:
print(df)

   jobcount state
0      4964    CA
1      2431    NY
2      2261    TX
3      1704    VA
4      1586    NJ
5      1456    IL
6      1239    FL
7      1166    GA
8       992    PA
9       981    MD
10      961    MA
11      951    NC
12      824    WA
13      722    CO
14      713    MI
15      653    OH
16      619    DC
17      535    AZ
18      514    MN
19      488    MO
20      432    CT
21      335    TN
22      329    WI
23      327    OR
24      239    SC
25      176    IN
26      161    LA
27      147    IA
28      138    NE
29      133    UT
30      129    OK
31      129    AL
32      112    NV
33      103    DE
34       95    KY
35       88    KS
36       71    NM
37       62    RI
38       45    NH
39       40    ME
40       32    ID
41       30    AR
42       28    WV
43       21    MS
44       20    HI
45       11    VT
46        7    MT
47        7    AK
48        7    SD
49        7    ND
50        3    WY

In [7]:
scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

In [8]:
df['text'] = df['state'] + '<br>' +\
    'Jobs '+df['jobcount']

In [16]:
data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['state'],
        z = df['jobcount'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Number of jobs")
        ) ]

In [10]:
layout = dict(
        title = 'Data Scientist Jobs by State<br>(Hover for count)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )

In [17]:
fig = dict( data=data, layout=layout )

In [18]:
py.iplot( fig, filename='d3-cloropleth-map' )